</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rafael Funes</title>
    <style type="text/css">
        *{
         margin:0;
         padding:0;
         box-sizing: border-box;
        }
        body{
        background: -webkit-radial-gradient(center,ellipse,rgb(116, 188, 243),rgb(0,0,0));
        color:white
        }
        nav{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        height:10vh;
        }
        nav a{
        margin-left:2rem;
        text-decoration: none;
        color:white;
        font-size:1.6rem;
        }

        nav a:hover{
        text-decoration: revert-layer;
        }

        #principal{
        height: auto;
        margin:5rem auto;
        width:40%;
        background:rgba(0,0,0,.6);
        padding:5rem;
        border:1px solid white;
        border-radius:10px;
        }
        li{
            list-style: none;
        }

    </style>
</head>
<body>

<nav>
 <a href="/login">Administrador</a>
 <a href="/loginUsers">Clientes</a>   
</nav>




<div id='principal'>
    <h1>Rafael Angel Funes Martínez</h1>

    <ul>
        <li><span>Fecha de Nacimiento:</span> 22/04/2004</li>
        <li><span>Cedula:</span> 30.874.062</li>
        <li><span>Email:</span> rufax22@gmail.com</li>
        <li><span>Sección</span> 2</li>
    </ul>
</div>

</body>
</html>
