<style type="text/css">
	body{

		background-image:url('https://images.pexels.com/photos/5589439/pexels-photo-5589439.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
		background-attachment: fixed;
		background:cover;
	}
</style>
<body>

<h1 style='margin-left:28%;line-height:450px;color:white'>Lo sentimos ruta no encontrada</h1>
</body>