*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    margin:0;
    padding:0;
    width: 100%;
    background: -webkit-radial-gradient(center,ellipse,rgb(116, 188, 243),rgb(0,0,0));
    color:white;
}
/*ESTILOS DE PLANTILLA*/
@font-face{
    font-family:'dali';
    src:url('/fuentes/TokyoTaiyakiDEMO-Regular.otf');
}

.product{
   display:flex;
   flex-wrap: wrap;
   justify-content:space-around;
   align-items:center;
   margin-bottom:50px;
}
.debajoHeader{
    width: 100%;
    height: 40vh;
    text-align: center;
}
#divB1{
    background-image:url('https://images.pexels.com/photos/2607544/pexels-photo-2607544.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-attachment: fixed;
    background-size: cover;
}
#divB2{
    background-image:url('https://images.pexels.com/photos/688885/pexels-photo-688885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-attachment: fixed;
    background-size: cover;
}
#divB3{
    background-image:url('https://images.pexels.com/photos/230785/pexels-photo-230785.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-attachment: fixed;
    background-size: cover;
}
.imagen{
    width:100%;
    height:40vh;
    transition:all 1s;
    margin-bottom: 20px;
    border-radius:20px 20px 0 0;
}
.imgContent{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.productooo{
   display:flex;
   flex-direction: column;
   justify-content:space-around;
   align-items:center;
   width:20%;
   height:auto;
   margin-top:80px;
   margin-left:20px;
   background:rgba(0,0,0,.5);
   border-radius:30px;
}
.etiquetaP{
    font-size:1rem;
    font-weight: bold;
}
#searchInputt{
    width:75%;
    height:6vh;
    text-align: center;
}
#buscarPrincipal{
    width:40%;
    height:6vh;
    text-align: center;  
}
.nocontainer{
    width:60%;
    margin-left:10px;
}
#boton2{
    width:30%; 
    height:6vh;
    margin-left:.5rem;
    background:rgb(180, 180, 180);
    border-radius:0 20px 20px 0;
    transition:all 1s;
}
#boton2:hover{
    border-radius:20px 0 0 20px;
    transform:scale(1.1);
}
#boton3{
    margin-left: 5px;
    margin-top: 2px;
    width:10%; 
    height:6vh;
    background:rgba(0,0,0,.5);
    border:1px solid white;
    border-radius: 10px;
    cursor:pointer;
    color:white;
}

.buscar2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top:1rem;
}
.row-----{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 100%;
}
#NPB{ 
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center
}
.row2{
    display:flex;
    justify-content: center;
    margin: 10px;
    padding:10px;
    width: 70%;
}
header{
 display:flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height:100vh;
 background-image:url('https://images.pexels.com/photos/437037/pexels-photo-437037.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
 background-size: cover;
}
.imagenesVertical{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width:40%;
    height:100vh;
    color:black;
    font:3rem 'gamer';
}
.imagenesVertical:nth-child(1){
    background-image:url('https://images.pexels.com/photos/10568482/pexels-photo-10568482.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover; 
}
.imagenesVertical:nth-child(2){
    background-image:url('https://images.pexels.com/photos/4440537/pexels-photo-4440537.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover; 
}
.imagenesVertical:nth-child(3){
    background-image:url('https://images.pexels.com/photos/10558186/pexels-photo-10558186.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover; 
}
.imagenesVertical:nth-child(4){
    background-image:url('https://images.pexels.com/photos/4440535/pexels-photo-4440535.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover; 
}
#texto{
 color:white;
 margin-top:1rem;
 padding:1rem;
 margin-bottom:1rem;
 background:rgba(0,0,0,.9);
 width:100%;
}
#texto p{
 margin:1.5rem;
 font:1.5rem 'arial';
}
h2{
    font:3rem 'dali';
    text-align: center;
    color:white;
    text-shadow:40px 20px 50px rgb(135, 215, 233);
}
.claseIMG{
    width:20%;
    height:40vh;
}
#botonP{
  background:rgb(56, 247, 9);
  height:6vh;
  transition:all 1s;
  border-radius:10px;
  margin-left: 20px;
}
#botonP:hover{
  transform:translateY(-5px);
  box-shadow:15px 15px 100px black;
}
.prueba{
    color:red;
    text-decoration: none;
}
/*------------------------------------------------------------*/
/*------------------Randis Graterol----------------------*/
/*--------------------------------------*/
#na{
    display:flex;
    align-items: center;
    justify-content:flex-end;
    width:40%;
    margin-left:1rem;
}

#na ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height:7vh;
    margin-top:1rem;
    margin-right:1rem;
}
#na ul a{
 text-decoration:none;
 color:white;
 margin:1rem;
 font:1.5rem 'fuenteC';
 transition:all 1s;
}
#na ul a:hover{
 text-decoration-line: underline;
}

nav{
    display:flex;
    justify-content:center;
    align-items: center;
    background:rgb(22, 22, 22);
    height:15vh;
    width: 100%;
    color:white;
}
nav #aa{
    margin-left:20px;
    text-decoration: none;
    color:white;
    font:2rem 'fuenteC';
}
nav a{
    color:white;
    margin:1rem;
    font-size:1.2rem;
}
nav a:hover{
    text-decoration: revert-layer;
}
nav a:nth-child(1){
    order:2;
}
nav a:nth-child(2){
    order:3;
}
nav a:nth-child(3){
    order:4;
    margin-right:10rem;
}

nav input{
    order:5;
    align-self:center;
}
nav button{
    order:6;
    align-self:center;
}

h1{
   font:5rem 'dali';
   color:white;
   text-shadow:40px 20px 50px rgb(135, 215, 233);
}
        /*#na ul li{
          ???????????
        }*/

        #imggg{
            display:none;
        }

        #na2{
            display:none;
        }

        #styleDiv1{
            width:100%;
            padding:10px;
        }
        #NPB{ 
            display:flex;
            justify-content:center;
            align-items:center
        }
        #comprarDetalles{
            display:flex;
            
            justify-content:center;
            align-items: center;
        }
        a{
            text-decoration: none;

        }
        ul{
            list-style: none;
        }
        
        .cuadriculaLista{
            background:red;
            display:flex;
            flex-direction:column;
            width:100%;
        }

        .table{
         display:none;
         width:90%;
     }

     /*Clases generadas con Javascript*/
     .tableTR{
         display:flex;
         font-size:20px;
         margin-top:50px;

     }
     .cadaProducto{
         display:none;
     }
     .tableMostrar{
        display:inline-block;
        background:rgba(0,0,0,.5);
    }
    .column{
        text-align: center;
        
        width:20%;
    }
    /*boton de cuadricula*/
    #botonCuadricula{
        width:6vw;
        background:transparent;
        margin-left:91%;
        border:none;
        margin-bottom:20px;
    }
    .ULtabla3{
        display:none;
    }

    .tableMostrar{
        display:inline-block;
        width:97%;
    }
    .clasePadre{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        

    }
    .section{
        width: 100%;
        margin-top: 40px;
    }

    .form-control{
        width:100%;
    }
    .imgCarrito{
        width:10%;
    }
    .botonC{
        width:60%;
        border:none;
        cursor:pointer;
    }
    #h33{
        display:flex;
        justify-content: center;
        margin-left:1%;
        font:1.7rem "dali";
        color:white; 
        width:20%;
    }
    #volverr{
        display:flex;
        justify-content: center;
        text-decoration:none;
        color:white;
        margin-left:10px;
        width:25%;
        font:1.5rem 'dali';
    }
     table thead tr th:nth-child(6){
     padding:1rem;
    }
     table thead tr th:nth-child(7){
     padding:1rem;
    }
     table thead tr th:nth-child(8){
     padding:1rem;
    }
     table thead tr th:nth-child(9){
     padding:1rem;
    }
/*-----------------------------------------------------------*/


/*__________>>__R__>>__A__>>__N__>>__D__>>__I_ >>_S_________*/

/*-----------RESPONSIVE---------*/

/*-------------Resolucion 720 infinix Smarth 7---------------*/


/*-----------------------------------------------------------*/
@media screen and (max-width: 720px){

    *{
        box-sizing: border-box;
        margin:0;
        padding:0;
    }
    nav a{
    display:none;
    }
    body{
        margin:0;
        padding:0;
        color:white;
    }

    nav #aa{
        margin-left:15px;
        text-decoration: none;
        color:white;
        font:20px 'fuenteC';
    } 
    h1{
       font:2rem 'dali';
       color:white;
       text-shadow:40px 20px 50px rgb(135, 215, 233); 
   }
   #h33{
    margin-left:12%;
    font:1rem "dali";
    color:white;
}
#comprarDetalles{
    display:flex;
    justify-content:center;
    align-items: center;
}
#na ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border:1px solid blue;
    height:7vh;
    margin-top:1rem;
    width:50%;
}
.LItabla3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonC{
    width:100%;
    border:none;
    cursor:pointer;
}
#na{
 text-decoration:none;
 color:white;
 font:10px 'fuenteC';
 transition:all 1s;
}

#imggg{
    display:block;
    width:70px;
}
h2{
    font:1rem 'dali';
    text-align: center;
    color:white;
    text-shadow:40px 20px 50px rgb(135, 215, 233);
}
#h2productos{
   font:1.9rem 'dali';
   text-align: center;
   color:white;
   text-shadow:40px 20px 50px rgb(135, 215, 233);  
}
#imggg:hover{
    transform: translateY(-5px);
}

#na{
  display:none;
}
#volverr{
    text-decoration:none;
    color:white;
    margin-left:30px;
    font:1rem 'dali';
}
#na2{
    display:block;
    margin-left:60px;
}
a{
  text-decoration: none;
  color:black;
}
/*----------------------*/
/*nav responsive*/
.menu-horizontal{
    border:1px solid red violet;
    list-style:none;
    display:flex;
    justify-content:space-around;
}
.imgCarrito{
    width:30%;
}

.menu-horizontal li img{
  display:block;
  padding:15px 20px;
  color: white;
  text-decoration:none;
}
/*.menu-horizontal*/.li:hover{
    background-color:grey;
}
.menu-vertical{
    position: absolute;
    display:none;
    list-style: none;
    width:20%;
    background:rgb(0,0,0,0.7);
    transform:translateX(-60px);
}
.menu-horizontal li:hover .menu-vertical{
   display: block;
}

.menu-vertical li:hover{
    background: black;
}
.menu-vertical li img{
    display: block;
    color:white;
    text-decoration:none;
}
.flex{
   display: flex;
}

li{
   margin-top: 40px; 
}

#boton3{
    margin-top: 2px;
    width:35%; 
    height:6vh;
    background:rgb(180, 180, 180);
    border-radius:10px;
    
}

#styleDiv1{
    display:none;

}
#buscarPrincipal{
    height:5.5vh;
    width:60%;
    border-radius:10px;
}

.productooo{
   display:flex;
   flex-direction: column;
   justify-content:space-around;
   align-items:center;
   width:45%;
   height:auto;
   margin:1rem;
   margin-top: 100px;
}

#NPB{ 
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center
}

#botonP{
  background:rgb(56, 247, 9);
  transition:all 1s;
  border-radius:10px;
  margin-top:0;
}
#botonP:hover{
  transform:translateY(-5px);
  box-shadow:15px 15px 100px black;
}
.imagen{
    width:100%;
    height:30vh;
    transition:all 1s;
}

.imagen:hover{
    transform:scale(1.1);
    box-shadow:14px 15px 100px black;
}

.product{
   display:flex;
   justify-content: center;
   align-items: center;
   justify-content:space-around;
   align-items:center;

}

#botonCuadricula{
    background:transparent;margin-left:5%;border:none;margin-bottom:20px;
    width:15%;
    background:transparent;
}

.claseIMG{
    width:70%;
    height:30vh;
}
.table{
 display:none;
}

.cadaProducto{
 display:none;
}

.tableTR{
 display:flex;
 font-size:5px;

}

/*clases generadas con javaScript*/
.claseTabla3-JS{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;flex-wrap: wrap;
    width:60%;
    margin-top:50px;
    color:black; 
    border:2px dashed grey;
}

header{
 display:flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height:100vh;
 background-image:url('https://images.pexels.com/photos/437037/pexels-photo-437037.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
 background-position:top;
}

#divB1{
    background-image:url('https://images.pexels.com/photos/2607544/pexels-photo-2607544.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-attachment: fixed;
    background-position: top;
}
#divB2{
    background-image:url('https://images.pexels.com/photos/688885/pexels-photo-688885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-attachment: fixed;
    background-position: top;
}
#divB3{
    background-image:url('https://images.pexels.com/photos/230785/pexels-photo-230785.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-attachment: fixed;
    background-position: top;
}

ul li{
    color:white;
}

ul{
    background:rgb(0,0,0,.5);
}

}
